
        .col-4
          p Timelines
          code {{ sumDate }}
          br
          code {{ sumIL }}
          br
          br
          .card#second-card
              .card-header
                .btn-group.bg-success(role="group")
                    button.btn.bg-success(type="button" id="panel2" @click="changePanel('datepicker', $event.target.id )") Time
                    button.btn.bg-success(type="button" id="panel2" @click="changePanel('run', $event.target.id )") Run
                    button.btn.bg-success(type="button" id="panel2" @click="changePanel('il', $event.target.id )") IL

              .card-body
                keep-alive
                  component(
                    :is="panels.panel2"
                    :data="timelineViewProps"
                    @change="timelineChanged"
                  )

        .col-4
          p Options
          br
          br
          .card#third-card
              .card-header
                .dropdown.bg-warning
                  button.btn.btn-warning.dropdown-toggle(type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") {{ panels.panel3 | normal_type }}
                  .dropdown-menu(aria-labelledby="options")
                    a.dropdown-item(v-for="el in panel3" id="panel3" @click="changePanel(el, $event.target.id )") {{ el | normal_type }}

              .card-body
                keep-alive
                  component(
                    :is="panels.panel3"
                    @change="optionChanged"
                  )  


                                  // component(
                //   :is="panels.panel1"
                //   :data="trackerViewProps",
                //   :parent="panels.panel1"
                //   @change="update_geometry"
                // )


          keep-alive(v-if="panels.panel1 == 'barrel'")
                barrel(
                  key="barrel"
                  :data="trackerViewProps" 
                  :parent="panels.panel1" 
                  @change="update_geometry")

              keep-alive(v-if="panels.panel1 == 'endcap'")
                barrel(
                  key="endcap"
                  :data="trackerViewProps"
                  :parent="panels.panel1"
                  @change="update_geometry"
                )