<template lang="pug">
    .card-body
        .row
            .col-12
                SelectComponent( 
                    v-model="wd_data"
                    ref="wd"
                    @change="reactive_handler('wd')"
                )
        .row
            .col-lg-4
                SelectComponent(
                    v-model="rs_data",
                    ref="rs"
                    @change="reactive_handler('rs')"
                )
            .col-lg-4
                SelectComponent(
                    v-model="se_data",
                    ref="se"
                    @change="reactive_handler('se')"
                )
            .col-lg-4
                SelectComponent(
                    v-model="po_data",
                    ref="po"
                    @change="emit_change"
                )


            div(v-if="data != null")
                // code {{ data }}

</template>

<script>
import SelectComponent from '../generic/SelectComponent.vue';

export default {
    name: 'Generic_geometry',
    data() {
        return {
            titles: {
                barrel: ['Wheel','Station','Sector','Position'],
                endcap: ['Disk', 'Ring', 'Sector', 'Position']
            },
            wd: {
                title: null,
                id: 'wd',
                selected: 'ALL',
                elements: ['ALL'],
                parent: null
            },
            rs: {
                title: null,
                id: 'rs',
                selected: 'ALL',
                elements: ['ALL'],
                parent: null
            },
            se: {
                title: null,
                id: 'se',
                selected: 'ALL',
                elements: ['ALL'],
                parent: this.parent
            },
            po: {
                title: null,
                id: 'po',
                selected: 'ALL',
                elements: ['ALL'],
                parent: null
            }
        }
    },
    props:['data', 'parent'],
    created() {
        
        this.wd.title = this.titles[this.parent][0];
        this.wd.parent = this.parent;
        this.rs.title = this.titles[this.parent][1];
        this.rs.parent = this.parent;
        this.se.title = this.titles[this.parent][2];
        this.se.parent = this.parent;
        this.po.title = this.titles[this.parent][3];
        this.po.parent = this.parent;

        if ( this.data != undefined || this.data != null ) {
            this.reactive_handler();
        }
        
    },
    computed: {
        wd_data(){
            return this.wd;
        },
        rs_data(){
            return this.rs;
        },
        se_data(){
            return this.se;
        },
        po_data(){
            return this.po;
        }
    },
    beforeUpdate(){
        // Default configuration: 
        
        this.reactive_handler();
    },
    methods:{
        emit_change(){
            this.$emit('change', {
                wd: this.wd,
                rs: this.rs,
                se: this.se,
                po: this.po
            })
        },
        prepare_ALL(arr){
            var temp;
            if (arr.length > 1 ) {
                if (arr.indexOf('ALL') == -1){
                    if ( !isNaN(arr[0]) ){
                        temp = arr.map(Number);
                        temp.sort(function(a, b){return a-b});
                        arr = temp.map(String);
                    }
                    arr.unshift('ALL');
                }
            }
            return arr;
        },
        reactive_handler(flag){

            let _wd = this.wd,
                _rs = this.rs,
                _se = this.se,
                _po = this.po;

            let ALL = 'ALL';
            let bwd = _wd.selected == ALL ? 0 : 4;
            let brs = _rs.selected == ALL ? 0 : 2;
            let bse = _se.selected == ALL ? 0 : 1;
            let mask = bwd + brs + bse;

            let wd = _wd.selected, 
                rs = _rs.selected,
                se = _se.selected,
                po = _po.selected;

            var cached, temp;

            switch(mask){
                case 0:
                    // console.log(mask);
                
                    cached = this.GET_DISTINCT_O1(0, null);
                    for (const key in cached) {
                        temp = this.prepare_ALL(cached[key]);
                        this[key].elements = temp;
                        this[key].selected = temp[0];
                        if (key == 'po')
                            break;
                    }
                
                break;
                case 1:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_O1(1, [se]);
                break;
                case 2:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_23(2, [rs]);

                    // Changing sectors
                    temp = this.prepare_ALL(cached.se);
                    this.se.elements = temp;
                    this.se.selected = 'ALL';

                break;
                case 3:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_23(3, [rs, se]);
                break;
                case 4:
                    // console.log(mask);

                    cached = this.GET_DISTINCT_45(4, [wd]);
                    // Changing rings
                    temp = this.prepare_ALL(cached.rs);
                    this.rs.elements = temp;
                    this.rs.selected = temp[0];

                    // Changing sectors
                    temp = this.prepare_ALL(cached.se);
                    this.se.elements = temp;
                    this.se.selected = temp[0];
                break;
                case 5:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_45(5, [wd, se]);
                break;
                case 6:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_67(6, [wd, rs]);

                    // Changing sectors
                    temp = this.prepare_ALL(cached.se);
                    this.se.elements = temp;
                    this.se.selected = temp[0];
                break;
                case 7:
                    // console.log(mask);
                    cached = this.GET_DISTINCT_67(7, [wd, rs, se]); 
                break;
                default:
                break;
            }
            
            // Changing positions
            temp = this.prepare_ALL(cached.po);
            this.po.elements = temp;
            this.po.selected = temp[0]; 

            this.emit_change();

            if (flag != undefined ) // This is because the first time is for setup
                this.chain_reset(flag);

        },
        chain_reset(start){
            var WD = 'wd',
                RS = 'rs',
                SE = 'se',
                PO = 'po';

            var chain = [WD, RS, SE, PO];
            var stp;

            stp = chain.indexOf(start);
            for (let index = stp + 1; index < chain.length; index++)
                this[chain[index]].selected = this[chain[index]].elements[0];
            
            this.emit_change();
        },
        GET_DISTINCT_67(flag, values){
            var _map = this.data;

            var wheels_disks = [],
                ring_station = [],
                sector = [],
                positions = [];

            let wd = values[0], 
                rs = values[1];
            
            if ( flag == 6 ){
                for (const el in _map[wd][rs]){
                    sector.push(el);
                    if(_map[wd][rs][el] != null){
                        for (let index = 0; index < (_map[wd][rs][el]).length; index++) {
                            positions.push(_map[wd][rs][el][index]);
                        }
                    }
                    else{
                        positions.push('None');
                    }
                }
            }
            else{
                let se = values[2];
                sector.push(values[2]);
                if (_map[wd][rs][se] != null) {
                    positions = _map[wd][rs][se];
                }
                else{
                    positions.push('None');
                }
                
            }

            wheels_disks.push(wd),
            ring_station.push(rs)

            return {
                wd: _.uniq(wheels_disks), 
                rs: _.uniq(ring_station), 
                se: _.uniq(sector), 
                po: _.uniq(positions)
            }
            

        },
        GET_DISTINCT_45(flag, values){
            var _map = this.data;;

            var wheels_disks = [],
                ring_station = [],
                sector = [],
                positions = [];
            
            wheels_disks = [values[0]];

            let el = values[0];
            for (const l2 in _map[el]) {
                ring_station.push(l2);
                if( flag == 4 ){
                    for (const l3 in _map[el][l2]) {
                        sector.push(l3);
                        if(_map[el][l2][l3] != null){
                            for (let index = 0; index < (_map[el][l2][l3]).length; index++) {
                                positions.push(_map[el][l2][l3][index]);
                            }
                        }
                        else{
                            positions.push('None');
                        }
                    }
                }
                if( flag == 5){
                    sector = values[1];
                    if(_map[el][l2][sector] != null){
                        for (let index = 0; index < (_map[el][l2][sector]).length; index++) {
                            positions.push(_map[el][l2][sector][index]);
                        }
                    }
                    else{
                        positions.push('None');
                    }
                }
                
            }

            return {
                wd: _.uniq(wheels_disks), 
                rs: _.uniq(ring_station), 
                se: _.uniq(sector), 
                po: _.uniq(positions)
            }


        },
        GET_DISTINCT_O1(flag, values){
            var _map = this.data;
            
            var wheels_disks = [],
                ring_station = [],
                sector = [],
                positions = [];

            
            for (const el in _map) {
                wheels_disks.push(el);
                
                for (const l2 in _map[el]) {
                    ring_station.push(l2);
                    if( flag == 0 ){
                        for (const l3 in _map[el][l2]) {
                            sector.push(l3);
                            if(_map[el][l2][l3] != null){
                                for (let index = 0; index < (_map[el][l2][l3]).length; index++) {
                                    positions.push(_map[el][l2][l3][index]);
                                }
                            }
                            else{
                                positions.push('None');
                            }
                        }
                    }
                    if( flag == 1){
                        sector.push(values[0]);
                        if(_map[el][l2][values[0]] != null){
                            for (let index = 0; index < (_map[el][l2][values[0]]).length; index++) {
                                positions.push(_map[el][l2][values[0]][index]);
                            }
                        }
                        else{
                            positions.push('None');
                        }
                    }
                    
                }
            }
            
            return {
                wd: _.uniq(wheels_disks), 
                rs: _.uniq(ring_station), 
                se: _.uniq(sector), 
                po: _.uniq(positions)
            }
            
        },
        GET_DISTINCT_23(flag, values){

            let _map = this.data;

            var wheels_disks = [],
                ring_station = [],
                sector = [],
                positions = [];


            let rs = values[0];
            
            ring_station.push(rs);
            for (const el in _map) {
                wheels_disks.push(el);
                if (flag == 2){
                    for (const key in _map[el][rs]) {
                        sector.push(key);
                        if(_map[el][rs][key] != null){
                            for (let index = 0; index < (_map[el][rs][key]).length; index++) {
                                positions.push(_map[el][rs][key][index]);
                            }
                        }
                        else{
                            positions.push('None');
                        }
                    }
                }
                else{
                    sector = values[1];
                    if(_map[el][rs][sector] != null){
                        for (let index = 0; index < (_map[el][rs][sector]).length; index++) {
                            positions.push(_map[el][rs][sector][index]);
                        }
                    }
                    else{
                        positions.push('None');
                    }
                }
                
            }

            return {
                wd: _.uniq(wheels_disks), 
                rs: _.uniq(ring_station), 
                se: _.uniq(sector), 
                po: _.uniq(positions)
            }

        }
    },
    components: {
        SelectComponent
    }
}
</script>

<style lang="less" scoped>

// TODO: Importante que esto quede bien medido
.col-12 .form-group label{
  width:100% !important;
}


</style>