<template lang="pug">
    .card-body
        .row
            .col-12
                SelectComponent( 
                    v-model="wd_data"
                    @change="update_selection"
                    ref="wd"
                )
        .row
            .col-lg-4
                SelectComponent(
                    v-model="rs_data",
                    @change="update_selection"
                    ref="rs"
                )
            .col-lg-4
                SelectComponent(
                    v-model="se_data",
                    @change="update_selection"
                    ref="se"
                )
            .col-lg-4
                SelectComponent(
                    v-model="po_data",
                    @change="update_selection"
                    ref="po"
                )


            div(v-if="data != null")
                // code {{ data }}

</template>

<script>
import SelectComponent from '../generic/SelectComponent.vue';

export default {
    name: 'BarrelForm',
    data() {
        return {
            wd: null,
            rs: null,
            se: null,
            po: null,
            titles: {
                barrel: ['Wheel','Station','Sector','Position'],
                endcap: ['Disk', 'Ring', 'Sector', 'Position']
            }
        }
    },
    props:['data', 'parent'],
    created() {
        this.wd = {
            title: this.titles[this.parent][0],
            id: 'wd',
            selected: 'ALL',
            elements: ['ALL'],
            parent: this.parent
        };
        this.rs = {
            title: this.titles[this.parent][1],
            id: 'rs',
            selected: 'ALL',
            elements: ['ALL'],
            parent: this.parent
        };
        this.se = {
            title: this.titles[this.parent][2],
            id: 'se',
            selected: 'ALL',
            elements: ['ALL'],
            parent: this.parent
        };
        this.po = {
            title: this.titles[this.parent][3],
            id: 'po',
            selected: 'ALL',
            elements: ['ALL'],
            parent: this.parent 
        }
    },
    computed: {
        wd_data(){
            let headers = this.get_wd_headers();
            this.wd.elements = headers;
            return this.wd;
        },
        rs_data(){
            if (!this.are_updates()){
                return this.rs
            }
        },
        se_data(){
            if (!this.are_updates()){
                return this.se
            }
        },
        po_data(){
            if (!this.are_updates()){
                return this.po
            }
        }
    },
    methods:{
        get_wd_headers(){
            let data = this.data;

            if (data == null)
                return false;
            
            let h = [];
            h = Object.keys(data).sort(function(a,b){ return a-b});
            h.unshift('ALL');
            return h;
        },
        update_selection(evt){
            switch(evt.id){
                case 'wd':
                    // console.log(this.wd.elements, this.rs.elements, this.se.elements, this.po.elements);
                    // console.log("Wheel or disk");
                    if(evt.value == 'ALL'){
                        this.reset_prop('rs');
                        break;
                    }
                    let elements = this.update_next(1, evt.value);
                    elements.unshift('ALL');
                    // NOTE: Here I need to update:
                    // + ring_station with the new values
                    // + sector with ALL value
                    // + position with ALL value
                    this.rs.elements = elements;
                    this.rs.selected = elements[0];
                    this.reset_prop('se');
                    this.reset_prop('po');
                break;
                case 'rs':
                    console.log("Changed ring/station");
                    // console.log(this.wd.elements, this.rs.elements, this.se.elements, this.po.elements);
                    if(evt.value == 'ALL'){
                        this.reset_prop('se');
                        this.reset_prop('po');
                        break;
                    }
                    let next = this.update_next([this.$refs.wd.value.selected, this.$refs.rs.value.selected], this.$refs.rs.value.selected)
                    this.se.elements = next.se;
                    this.se.selected = next.se[0];
                    // TODO: Here should go the change for the positions
                    // this.po.elements = next.po;
                    
                break;
                case 'se':
                    // console.log(this.wd.elements, this.rs.elements, this.se.elements, this.po.elements);                    
                    if(evt.value == 'ALL'){
                        this.po.elements = this.available_positions(this.wd.selected, this.rs.selected);
                        this.po.selected = this.po.elements[0];
                        break;
                    }
                    let wd = this.$refs.wd.value.selected;
                    let rs = this.$refs.rs.value.selected;
                    let se = this.$refs.se.value.selected;
                    if ((wd == 'ALL' || rs == 'ALL' || se == 'ALL')){
                        break;
                    }
                    this.po.elements = (this.update_next([wd, rs, se], se)).po;
                    this.po.selected = (this.update_next([wd, rs, se], se)).po[0]; 
                break;
                case 'po':
                    // console.log("Position");
                    
                break;
                default: 
                    // console.log("This is always exec");
 
            }
            // console.log(evt);
            this.$emit('change', {
                wd: this.wd,
                rs: this.rs,
                se: this.se,
                po: this.po
            });
        },
        are_updates(){
            return false;
        },
        update_next(depths, value){
            let data = this.data;
            var po, se;
            if (depths.length == 2){
                if (value == 'ALL')
                    return{
                        se: [],
                        po: []
                    }
                se = (Object.keys(data[depths[0]][depths[1]])).sort(function(a,b){return a-b}); 
                se.unshift('ALL');
                return {
                    se: se,
                    po: [],
                }
            }
            if(depths.length == 3){
                if (value == 'ALL')
                    return{
                        po: []
                    }
                po = data[depths[0]][depths[1]][depths[2]];
                if (po == null){
                    po = ['None']
                }
                else{
                    if (po.indexOf('ALL') == -1)
                        po.unshift('ALL');
                }
                return {
                    po: po,
                }
            }
            // Position doesnt matter
            if (value == 'ALL')
                return []
            return (Object.keys(data[value])).sort(function(a,b){return a-b});
        },
        reset_prop(prop){
            this[prop].elements = ['ALL'];
            this[prop].selected = 'ALL';
            // if (prop == 'rs') {
            //     this.avaible_positions('b', this.wd, this.rs);
            // }
        },
        all_positions(wd){
            let data = this.data;
            let all_pos = [];
            for (const e in data[wd]) {
                let temp_rs = Object.keys(data[wd]);
                for (const el in temp_rs) {
                    let temp_se = Object.keys(data[wd][temp_rs[el]])
                    for (const ele in temp_se) {
                        let temp_pos = data[wd][temp_rs[el]][temp_se[ele]];
                        if( temp_pos != null ){
                            for (let index = 0; index < temp_pos.length; index++) {
                                all_pos.push(data[wd][temp_rs[el]][temp_se[ele]][index]);
                            }
                        }
                    }
                }
            }
            return _.uniq(all_pos);
            
        },
        available_positions(wd, rs, se){
            let data = this.data;
            let av_pos = [];
            for (const el in data[wd][rs]) {
                let temp = data[wd][rs][el];
                if(temp != null){
                    for (let index = 0; index < temp.length; index++)
                        av_pos.push(data[wd][rs][el][index])
                }
            }
            av_pos = _.uniq(av_pos);
            return av_pos
        },
        available_positions_from_sectors(wd, se){
            let data = this.data;
            let av_pos = [];
            for (const le in data[wd]) {
                let temp_rs = Object.keys(data[wd]);
                for (const el in temp_rs) {
                    let pos = data[wd][temp_rs[el]][se];
                    if ( pos != null) {
                        for (let index = 0; index < pos.length; index++) {
                            av_pos.push(data[wd][temp_rs[el]][se][index]);
                        }
                    }

                }
            }
            return _.uniq(av_pos);
        },
        available_sectors(wd){
            let data = this.data;
            let av_sec = [];
            for (const el in data[wd]) {
                let temp = Object.keys(data[wd][el]);
                av_sec = _.merge(av_sec, temp);
            }
            return _.uniq(av_sec)
        }
    },
    watch:{
        wd: {
            // IMPORTANT: FUNCTION JUST FOR BARREL
          handler: function(old, newv) {
            if((newv != null && newv.selected != 'ALL')){
                let sectors = this.available_sectors(this.wd.selected);
                sectors.unshift('ALL');
                this.se.elements = sectors;

                let total_pos = this.all_positions(newv.selected);
                if ( total_pos.indexOf('ALL') == -1 )
                    total_pos.unshift('ALL');

                console.log(total_pos);
                
                this.po.elements = total_pos;
                this.po.selected = 'ALL';
            }
          },
          deep: true
        },
        rs: {
            handler: function(oldv, newv){
                // Check for available positions 
                if (newv != null){
                    
                    if (this.rs.selected != 'ALL'){
                        let new_positions = this.available_positions(this.wd.selected, newv.selected);
                        if(new_positions.length == 0){
                            new_positions.unshift('ALL')
                        }
                        else{
                            if ( new_positions.indexOf('ALL') == -1 ){
                                new_positions.unshift('ALL');
                            }
                                
                        }
                        this.po.elements = new_positions;
                        this.po.selected = new_positions[0];
                    }
                }
            },
            deep: true
        },
        se: {
            handler: function(oldv, newv){
                if(newv != null){
                    if ( this.wd.selected != 'ALL' && this.rs.selected == 'ALL') {
                        let pos = this.available_positions_from_sectors(this.wd.selected, newv.selected);
                        if (pos.indexOf('ALL') )
                            pos.unshift('ALL')
                        this.po.elements = pos;
                        this.po.selected = 'ALL';
                    }
                    
                }
            },
            deep:true
        }
    },
    components: {
        SelectComponent
    }
}

</script>

<style lang="less" scoped>

// TODO: Importante que esto quede bien medido
.col-12 .form-group label{
  width:100% !important;
}


</style>
