<template lang="pug">
    .form-group
        label.col-form-label.col-form-label-sm(:for="value.id") {{ value.title }} 
            select.form-control.form-control-sm(:id="value.id" v-model="value.selected" ref="selectPicker" @change="changedElement")
                option(v-for="opt in value.elements" :value="opt") {{ opt }}
</template>

<script>
export default {
    props: ['value'],
    methods: {
        changedElement(){
            this.$emit('change', {
                parent: this.value.parent,
                id: this.$refs.selectPicker.id,
                value: this.$refs.selectPicker.value
                });
        }
    }
}
</script>