.container-fluid{
  width: 95%;

}

.card{
    /* border: none; */
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 100%;
    background-color: #fff;
  }
  
  .card .card-header{
    padding: 0;
  }
  
  .card .card-header .btn-group,
  .card .card-header .dropdown{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 100%;
  }
  
  .card .card-header .btn-group button,
  .card .card-header .dropdown button{
    width: inherit;
    min-height: 30px;
    max-height: 60px;
    color: #000;
    font-weight: 600;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    box-shadow: none;
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
  
  .card .card-header .btn-group button:active,
  .card .card-header .btn-group button:focus,
  .card .card-header .btn-group button:visited,
  .card .card-header .btn-group button.active,
  .card .card-header .dropdown button:active,
  .card .card-header .dropdown button:focus,
  .card .card-header .dropdown button:visited,
  .card .card-header .dropdown button.active{
    border: none !important;
    box-shadow: none;
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
  
  
  .card-body{
    padding: 10px;
    margin: 0;
  }
  
  .active{
    color: #fff !important;
    background: #317fe6;
  }
  .col-lg-12 .form-group label, .col-lg-6 .form-group label, .col-4 .form-group label{
    width:100% !important;
  }
