.container-fluid {
  width: 97%;
}

#app-general {
  margin-top: 20px;
}

.col-4 {
  /* background: #4e4e4e; */
}

.col-8 {
  /* background: #4ad; */
}

section#navbar nav {
  background: #4e4e4e;
  padding: 0;
}

section#navbar nav .navbar-collapse {
  height: 100%;
}

section#navbar nav a,
section#navbar nav button {
  padding: .5rem 1rem;
  height: 100% !important;
  color: #fff;
}

section#navbar nav a:hover,
section#navbar nav button:hover {
  background: #2e2e2e;
  color: #fff;
  font-weight: 600;
}
.breadcrumb{
  background: #dadada;
}
.breadcrumb li{
  color: #474747;
}
.card {
  /* border: none; */
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  width: 100%;
  background-color: #fff;
}

.card .card-header {
  padding: 0;
}

.card .card-header .btn-group,
.card .card-header .dropdown {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  width: 100%;
}

.card .card-header .btn-group button,
.card .card-header .dropdown button {
  width: inherit;
  min-height: 30px;
  max-height: 60px;
  color: #000;
  font-weight: 600;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  box-shadow: none;
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}

.card .card-header .btn-group button:active,
.card .card-header .btn-group button:focus,
.card .card-header .btn-group button:visited,
.card .card-header .btn-group button.active,
.card .card-header .dropdown button:active,
.card .card-header .dropdown button:focus,
.card .card-header .dropdown button:visited,
.card .card-header .dropdown button.active {
  border: none !important;
  box-shadow: none;
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}

.card-body {
  padding: 10px;
  margin: 0;
}

#dpids{
  margin-top: 20px;
}

.active_btn {
  color: #fff !important;
  background: #317fe6;
}

.col-lg-12 .form-group label,
.col-lg-6 .form-group label,
.col-3 .form-group label {
  width: 100% !important;
}

/* For some events */
.active{
  color: #fff !important;
  background: #317fe6;
}