<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    label.col-form-label.col-form-label-sm(for="adv-selection") Advanced 
                    select.form-control.form-control-sm(id="adv-selection" v-model="adv")
                        option(v-for="el in advanced" :value="el.name") {{ el.show }}
        .row
            .col-lg-6
                .form-group
                    label.col-form-label.col-form-label-sm(for="bfield-selection") BField 
                    select.form-control.form-control-sm(id="bfield-selection" v-model="bf")
                        option(v-for="el in bfield" :value="el.name") {{ el.show }}

            .col-lg-6
                    .form-group
                        label.col-form-label.col-form-label-sm(for="lumi-selection") Luminosity 
                        select.form-control.form-control-sm(id="lumi-selection" v-model="lumi")
                            option(v-for="el in luminosity" :value="el.name") {{ el.show }}
            
</template>

<script>
export default {
    data(){
        return {
            advanced: [
                {
                    name: 'off',
                    show: 'Off',
                    default: true
                },
                {
                    name: 'standby',
                    show: 'Stand By'
                },
            ],
            bfield: [
                {
                    name: 'on',
                    show: 'On'
                },
                {
                    name: 'off',
                    show: 'Off'
                },
                {
                    name: 'indifferent',
                    show: 'Indifferent'
                }
            ],
            luminosity: [
                {
                    name: 'on',
                    show: 'On'
                },
                {
                    name: 'off',
                    show: 'Off'
                },
                {
                    name: 'indifferent',
                    show: 'Indifferent'
                }
            ],
            adv: '',
            bf: '',
            lumi: ''
        }
    },
    mounted: function(){
        this.adv = 'off';
        this.bf = 'indifferent';
        this.lumi = 'indifferent';
    },
    watch:{
        
    },
    computed: {
        
    },
    methods: {
       
    }
}
</script>
