<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    label.col-form-label.col-form-label-sm(for="exp-selection") Expert 
                    select.form-control.form-control-sm(id="exp-selection" v-model="exp")
                        option(v-for="el in expert" :value="el.name") {{ el.show }}
        .row
            .col-lg-6
                .form-group
                    label.col-form-label.col-form-label-sm(for="cms_bfield-selection") BField [T] 
                    input.form-control.form-control-sm(id="cms_bfield-selection" type="number" min="0" v-model="cms_bf")

            .col-lg-6
                .form-group
                    label.col-form-label.col-form-label-sm(for="lhce-selection") LHC Energy [GeV]
                    input.form-control.form-control-sm(id="lhce-selection" type="number" min="0" v-model="lhce") 
    
        .row
            .col-lg-12
                    .form-group
                        label.col-form-label.col-form-label-sm(for="lumi-selection") Luminosity 
                        select.form-control.form-control-sm(id="lumi-selection" v-model="lumi")
                            option(v-for="el in luminosity" :value="el.name") {{ el.show }}
            
</template>

<script>
export default {
    data(){
        return {
            expert: [
                {
                    name: 'off',
                    show: 'Off',
                    default: true
                },
                {
                    name: 'standby',
                    show: 'Stand By'
                },
                {
                    name: 'rpc_on',
                    show: 'RPC ON'
                    // Check if this has suboptions
                }
            ],
            luminosity: [
                {
                    name: 'on',
                    show: 'On'
                },
                {
                    name: 'off',
                    show: 'Off'
                },
                {
                    name: 'indifferent',
                    show: 'Indifferent'
                }
            ],
            exp: '',
            cms_bf: '',
            lhce: '',
            lumi: ''
        }
    },
    mounted: function(){
        this.exp = 'off';
        this.cms_bf = 0;
        this.lhce = 0;
        this.lumi = 'indifferent';
    },
    watch:{
        
    },
    computed: {
        
    },
    methods: {
       
    }
}
</script>
