<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    label.col-form-label.col-form-label-sm(for="std-selection") Standard 
                    select.form-control.form-control-sm(id="std-selection" v-model="opt")
                        option(v-for="el in standard" :value="el.name") {{ el.show }}
                
                div(v-if="element_has_suboptions")
                    .form-group
                        label.col-form-label.col-form-label-sm(for="std-subselection") {{ get_option_name }}
                            keep-alive
                                select.form-control.form-control-sm(id="std-subselection" v-model="sopt")
                                    option(v-for="ele in get_suboptions" :value="ele.name") {{ ele.show }} 
</template>

<script>
export default {
    data(){
        return {
            standard: [
                {
                    name: 'off',
                    show: 'Off',
                    default: true
                },
                {
                    name: 'standby',
                    show: 'Stand By'
                },
                {
                    name: 'rpc_on',
                    show: 'RPC ON',
                    suboptions: [
                        {
                            name: 'cruzet',
                            show: 'Cruzet',
                            default: true
                        },
                        {
                            name: 'craft',
                            show: 'Craft'
                        },
                        {
                            name: 'collisions',
                            show: 'Collisions'
                        }
                    ]
                },
                {
                    name: 'incident',
                    show: 'Incident', 
                    suboptions: [
                        {
                            name: 'rpc_incident',
                            show: 'RPC Incident',
                            default: true
                        },
                        {
                            name: 'magnet_incident',
                            show: 'Magnet Incident',
                        }
                    ]
                }
            ],
            opt: '',
            sopt: ''
        }
    },
    mounted: function(){
        this.opt = this.default_option; // Initialize the value
    },
    watch:{
        opt: function(oldv, newv){ // Initialize the suboption value
            let id_subopts = this.get_elementid_for_suboptions();
            if ( id_subopts > 0 ){
                let subopts = this.standard[id_subopts].suboptions;
                for (const el in  subopts) {
                    if(subopts[el].default != undefined)
                        this.sopt = subopts[el].name;
                }
            }
            console.log(this.opt, this.sopt);
            // TODO: Function to emmit a message. 
        },
        sopt: function(oldv, newv){
            console.log(this.opt, this.sopt); 
            // TODO: Function to emmit a message. 
        }
    },
    computed: {
        default_option(){
            let options = this.standard;
            let count = 0;
            for (const e in options ) {
                if( options[e].default ){
                    return options[e].name;
                }
            }
        },
        element_has_suboptions(){
            let id = this.get_elementid_for_suboptions();
            if (id > 0)
                return true
            return false
        },
        get_option_name(){
            let id = this.get_elementid_for_suboptions();
            return this.standard[id].show;
        },
        get_suboptions(){
            let opt = this.opt;
            let options = this.standard;
            for (const e in options ) {
                if( options[e].name == opt ){
                    return options[e].suboptions;
                    // return options[e].suboptions;
                }
            }
        }
    },
    methods: {
        get_elementid_for_suboptions(){
            let copt = this.opt;
            let opts = this.standard;
            for (const el in opts) {
                if( opts[el].name == copt ){
                    if ( opts[el].suboptions != undefined ){
                        return el;
                    }
                    else{
                        return -1;
                    }
                }
            }
        }
    }
}
</script>
