<template lang="pug">
  #app
    .container-fluid
      br
      h1 Functional example
      br

      #summary
      code {{ sumPanels }}
      br
      code {{ sumBarrel }}
      br
      code {{ sumEndcap }}
      br
      br

      .row
        // .col-4
        //   p Geometry
        //   .card#first-card
        //     .card-header
        //       .btn-group(role="group")
        //           button.btn(type="button" :class="{active : panels.panel1 == 'barrel'}" id="panel1" @click="changePanel('barrel', $event.target.id )") Barrel
        //           button.btn(type="button" :class="{active : panels.panel1 == 'endcap'}" id="panel1" @click="changePanel('endcap', $event.target.id )") Endcap

        //     .card-body
        //       div(v-if="panels.panel1 == 'barrel'")
        //         keep-alive
        //           geometry(
        //             key="barrel"
        //             :data="barrelMap" 
        //             parent="barrel" 
        //             @change="update_geometry")

        //       div(v-if="panels.panel1 == 'endcap'")
        //         keep-alive
        //           geometry(
        //             key="endcap"
        //             :data="endcapMap"
        //             parent="endcap"
        //             @change="update_geometry"
        //           )
        //   br
        //   button.btn.bg-success(type="button" @click="send_request" style="color: white") Submit

        // .col-6
        //   p Showing {{ cached_uuids.length }} results.
        //   table.table
        //     thead
        //       tr
        //         th(scope="col")
        //           .form-check
        //             input(type="checkbox" class="form-check-input" v-model="select_all" id="select_all")
        //             label(class="form-check-label" for="select_all")
        //         th(scope="col") #
        //         th(scope="col") UUID
        //         th(scope="col") DPID
        //     tbody
        //       tr(v-for="el,i in cached_uuids")
        //         th(scope="row")
        //           .form-check
        //             input(type="checkbox" class="form-check-input" :id="el" :value="el" v-model="uuids")
        //             label(class="form-check-label" :for="el")
        //         th {{ ++i }}
        //         th {{ el[0] }}
        //         th {{ el[1] }}

        // .col-4
        //   p Timelines
        //   code {{ sumDate }}
        //   br
        //   code {{ sumIL }}
        //   br
        //   br
        //   .card#second-card
        //       .card-header
        //         .btn-group.bg-success(role="group")
        //             button.btn.bg-success(type="button" id="panel2" @click="changePanel('datepicker', $event.target.id )") Time
        //             button.btn.bg-success(type="button" id="panel2" @click="changePanel('run', $event.target.id )") Run
        //             button.btn.bg-success(type="button" id="panel2" @click="changePanel('il', $event.target.id )") IL

        //       .card-body
        //         keep-alive
        //           component(
        //             :is="panels.panel2",
        //             :parent="panels.panel2",
        //             @change="timeline"
        //           )

        // .col-4
        //   p Options
        //   br
        //   br
        //   .card#third-card
        //       .card-header
        //         .dropdown.bg-warning
        //           button.btn.btn-warning.dropdown-toggle(type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") {{ panels.panel3 | normal_type }}
        //           .dropdown-menu(aria-labelledby="options")
        //             a.dropdown-item(v-for="el in get_options()" id="panel3" @click="changePanel(el, $event.target.id )") {{ el | normal_type }}

        //       .card-body
        //         keep-alive
        //           component(
        //             :is="panels.panel3"
        //             @change="optionChanged"
        //           )  

</template>

<script>
// Components for the tracker 
import Generic_geometry from './components/firstPanel/Barrel.vue';
// Components for the timeline
import CardTime from './components/secondPanel/CardTime.vue';
import CardIL from './components/secondPanel/CardIL.vue';
import CardRun from './components/secondPanel/CardRun.vue';
// Components for the options
import Nofilter from './components/thirdPanel/Nofilter.vue';
import Standard from './components/thirdPanel/Standard.vue';
import Advanced from './components/thirdPanel/Advanced.vue';
import Expert from './components/thirdPanel/Expert.vue';

export default {
  name: 'app',
  // TODO: This data should come from an API
  data: function(){
    return{
      panels:{
        // This is the default value of the panels. TODO: Should be in VueX
        panel1: this.$store.state.panels.panel1.preset,
        panel2: this.$store.state.panels.panel2.preset,
        panel3: this.$store.state.panels.panel3.preset
      },
      uuids: []
    }
  },
  beforeCreate() {
    this.$store.dispatch('get_geometry');
  },
  filters:{
    normal_type: function(text){
      let init = text.replace('-', " ");
      let temp = init.charAt(0).toUpperCase() + init.slice(1);
      return temp;
    }
  },
  computed: {
    select_all:{
      // Original idea took from: https://stackoverflow.com/questions/33571382/check-all-checkboxes-vuejs
      get: function () {
        return this.$store.getters.get_uuids ? this.uuids.length == this.$store.getters.get_uuids.length : false;
      },
      set: function (value) {
        var selected = [];
        if (value) {
            this.$store.getters.get_uuids.forEach(function (uuid) {
                selected.push(uuid);
            });
        }
        this.uuids = selected;
      }
    },
    cached_uuids: function(){
      let uuids = this.$store.getters.get_uuids;
      if (uuids.length != 0) {
        return uuids;
      }
      return [];
    },
    barrelMap(){
      if (this.$store.getters.get_geometry != null)
        return this.$store.getters.get_geometry['b'];
    },
    endcapMap(){
      if (this.$store.getters.get_geometry != null)
      return this.$store.getters.get_geometry['e'];
    },
    optionTitle(){
      return this.panels.option;
    },
    optionsViewProps: function() {
      // TODO: No need to parse data.
      console.log("Changing the view" + this.panels.option);
      
    },
    sumPanels(){
      return this.$store.getters.panels_status;
    },
    sumBarrel(){
      return this.$store.getters.barrel;
    },
    sumEndcap(){
      return this.$store.getters.endcap;
    },
    sumDate(){
      return this.$store.getters.datepicker;
    },
    sumIL(){
      return this.$store.getters.il;
    }
  },
  methods: {
    get_options(){
      return this.$store.getters.get_options_panel3;
    },
    changePanel(panel_name, origin){
      this.panels[origin] = panel_name;
      this.$store.commit('updatePanel', {
        panel: origin,
        change: panel_name
      });
    },
    // This is for the first panel
    update_geometry(data){
      var them_all = data;
      for (const el in them_all) {
        let _id = el;
        this.$store.commit('changeProp', {
          super: 'geometry', 
          parent: this.panels.panel1, 
          child: _id,
          value: them_all[el].selected
          });
      }
    },
    send_request(){ // This should be raised when user clicks at submit button
      let geometry = this.$store.getters[this.panels.panel1];
      geometry['rg'] = 'e'
      if (this.panels.panel1 == 'barrel')
        geometry['rg'] = 'b'
      
      axios.post('http://localhost:5000/api/geometry', {geometry: geometry})
        .then(r => r.data)
        .then(uuids => {
          // console.log(uuids);
          this.$store.commit('update_uuids', uuids);
        });
    },
    // Second Panel
    timeline_change(data){
      for (const key in data.value) {
        this.$store.commit('changeProp', {
          super: 'timeline', 
          parent: data.parent, 
          child: key,
          value: data.value[key]
        });
      }
      
    },
    // Third panel
    optionChanged( data ){
      // TODO: Method to retrieve the data. 
      console.log(data);
    }
  },
  components: {
    'geometry': Generic_geometry,
    'datepicker': CardTime,
    'run': CardRun,
    'il': CardIL,
    'no-filter': Nofilter,
    'standard': Standard,
    'advanced': Advanced,
    'expert': Expert
  }
}
</script>
