<template lang="pug">
    vplotly(:data="data" :layout="layout" :options="options")
</template>

<script>
import VuePlotly from "@statnett/vue-plotly";
export default {
    name: 'vuePlotly',
    props: ['data', 'layout', 'options'],
    components: {
        'vplotly': VuePlotly
    }
}
</script>

