<template lang="pug">
    .container
        h1 Hola!    
        vue-plotly(:data="resolve_data" :layout="layout" :options="options")
        code {{ sql }}
</template>

<script>
import VuePlotly from "@statnett/vue-plotly";
export default {
    name: "vuePlotly",
    data: function() {
        return {
            data: [],
            layout: {
                title:'Example plot',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'IMON'
                },
                showline: true,
                showgrid: true
                
            },
            options: {
                displaylogo: false
            },
            sql: ''
        };
    },
    created(){
        axios.get('http://localhost:5000/api/test')
            .then(r => {
                var data = {
                    x: null,
                    y: null,
                    type: '',
                    marker: null
                }
                data['x'] = r.data.x;
                data['y'] = r.data.y;
                data['type'] = 'line';
                data['marker'] = {
                    color: '#2d88fe'
                };
                this.data.push(data);
                this.sql = r.data.sql;
        });
    },
    computed: {
        resolve_data(){
            return this.data;
        }
    },
    components:{
        'vue-plotly': VuePlotly
    }
};
</script>