<template lang="pug">
    vplotly(:data="resolve_data" :layout="layout" :options="options") 
</template>

<script>
import VuePlotly from './ex_comp.vue';
export default {
    data: function() {
        return {
            data: [],
            layout: {
                title:'Example plot',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'IMON'
                },
                showline: true,
                showgrid: true
                
            },
            options: {
                displaylogo: false
            },
            sql: ''
        };
    },
    created(){
        axios.get('http://localhost:5000/api/test')
            .then(r => {
                var data = {
                    x: null,
                    y: null,
                    type: '',
                    marker: null
                }
                data['x'] = r.data.x;
                data['y'] = r.data.y;
                data['type'] = 'line';
                data['marker'] = {
                    color: '#2d88fe'
                };
                this.data.push(data);
                this.sql = r.data.sql;
        });
    },
    computed: {
        resolve_data(){
            if( this.data.length != 0 )
                return this.data;
            return []
        }
    },
    components: {
        'vplotly': VuePlotly
    }
}
</script>
