<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    .col-form-label.col-form-labe-sm Integrated Luminosity
                    input.form-control.form-control-sm(id="luminosity" type="number" min="0" v-model="il" @input="il_change")
</template>

<script>
export default {
  name: 'il',
  props: ["parent"],
  data() {
    return {
      il: 0
    };
  },
  methods: {
    il_change() {
      this.$emit("change", {
        parent: this.parent,
        value: {
          il: parseInt(this.il)
        }
      });
    }
  }
};
</script>
