<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    .col-form-label.col-form-labe-sm Start Run
                    input.form-control.form-control-sm(id="start_run" type="number" v-model="start_run" min="0" @input="run_change")
                    small This number is converted into time.
            .col-lg-12
                .form-group
                    .col-form-label.col-form-labe-sm End Run
                    input.form-control.form-control-sm(id="end_run" type="number" v-model="end_run" min="0" @input="run_change")
                    small This number is converted into time.
</template>

<script>
// Original Idea took from: https://stackoverflow.com/questions/23593052/format-javascript-date-to-yyyy-mm-dd
export default {
  name: 'run',
  props: ["parent"],
  data() {
    return {
      start_run: 0,
      end_run: 0
    };
  },
  methods: {
    run_change() {
      this.start_run = parseInt(this.start_run);
      this.end_run = parseInt(this.end_run);
      this.$emit("change", {
        parent: this.parent,
        value: {
          start_run: this.start_run,
          end_run: this.end_run
        }
      });
    }
  }
};
</script>
