<template lang="pug">
    .card-body
        .row
            .col-lg-12
                .form-group
                    .col-form-label.col-form-labe-sm Start date
                    input.form-control.form-control-sm(id="start_date" type="date" v-model="start_date" :placeholder="initdate" min="minDate" max="maxDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" @change="date_change")
                    small This date may start on 1st October, 2009
            .col-lg-12
                .form-group
                    .col-form-label.col-form-labe-sm End date
                    input.form-control.form-control-sm(id="end_date" type="date" v-model="end_date" :placeholder="enddate" min="minDate" max="maxDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" @change="date_change")
                    small Since 2009 till today
</template>

<script>
// Original Idea took from: https://stackoverflow.com/questions/23593052/format-javascript-date-to-yyyy-mm-dd
export default {
  name: 'datepicker',
  props: ["parent"],
  data() {
    return {
      start_date: "2009-10-01",
      end_date: 0
    };
  },
  created() {
    this.end_date = this.formatDate();
  },
  computed: {
    minDate() {
      return "2009-10-01";
    },
    maxDate() {
      return this.formatDate();
    },
    initdate() {
      return this.minDate;
    },
    enddate() {
      return this.formatDate();
    }
  },
  methods: {
    formatDate() {
      var d = new Date(),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },
    date_change() {
      this.$emit("change", {
        parent: this.parent,
        value: {
          start_date: this.start_date,
          end_date: this.end_date
        }
      });
    }
  }
};
</script>
