<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}  {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Dante Bazaldua dalnte@me.com">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/cms.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    {% block extra_styles %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/vendor/jquery.slim.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vendor/popper.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vendor/axios.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/vue.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vendor/vuex.js')}}"></script>
  <body>
      <!-- Here goes the nav class -->
      {% block body %}
      {% endblock %}
      <!-- And maybe here a footer -->
      {% block vue_components %}
      {% endblock %}
  </body>
</html>