<!-- index.html-->
{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"> {% endblock %} {% block body %}

<div id="app">
    <section id="navbar">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">Web General RPC</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">RPC Monitoring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Help</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="container-fluid" id="app-general">
        <section id="alert">
            <!-- <div class="alert alert-secondary" role="alert">
                Something happened.
            </div> -->
        </section>

        <section id="ui">
            <div id="header">
                <h4>RPC Current Monitoring</h4>
                <p>
                    <!-- <strong>Instruccions:</strong> Select the parameters in the forms below and check your plot in the right side.</p> -->
            </div>
            <div class="row">
                <div class="col-3">
                    <div id="first-card">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">Chamber selection</li>
                            </ol>
                        </nav>
                        <div class="card">
                            <div class="card-header">
                                <div class="btn-group" role="group">
                                    <button class="btn" type="button" :class="{active_btn : panels.panel1 == 'barrel'}" id="panel1" @click="changePanel('barrel', $event.target.id )">Barrel</button>
                                    <button class="btn" type="button" :class="{active_btn : panels.panel1 == 'endcap'}" id="panel1" @click="changePanel('endcap', $event.target.id )">Endcap</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div v-if="panels.panel1 == 'barrel'">
                                    <keep-alive>
                                        <geometry key="barrel" :data="barrelMap" parent="barrel" @change="update_geometry"></geometry>
                                    </keep-alive>
                                </div>
                                <div v-if="panels.panel1 == 'endcap'">
                                    <keep-alive>
                                        <geometry key="endcap" :data="endcapMap" parent="endcap" @change="update_geometry"></geometry>
                                    </keep-alive>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="second-card">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">Time period</li>
                            </ol>
                        </nav>
                        <div class="card">
                            <div class="card-header">
                                <div class="btn-group" role="group">
                                    <button class="btn" type="button" :class="{active_btn : panels.panel2 == 'datepicker'}" id="panel2" @click="changePanel('datepicker', $event.target.id )">Dates</button>
                                    <button class="btn" type="button" :class="{active_btn : panels.panel2 == 'run'}" id="panel2" @click="changePanel('run', $event.target.id )">Run</button>
                                    <button class="btn" type="button" :class="{active_btn : panels.panel2 == 'il'}" id="panel2" @click="changePanel('il', $event.target.id )">IL</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <keep-alive>
                                    <component :is="panels.panel2" :parent="panels.panel2" @change="timeline_change"></component>
                                </keep-alive>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="third-card">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">Run conditions</li>
                            </ol>
                        </nav>
                        <div class="card">
                            <div class="card-header">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% raw %}{{ panels.panel3 | normal_type }}{% endraw %}</button>
                                    <div class="dropdown-menu" aria-labelledby="options"><a class="dropdown-item" v-for="el in get_options()" id="panel3" @click="changePanel(el, $event.target.id )">{% raw %}{{ el | normal_type }}{% endraw %}</a></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <keep-alive>
                                    <component :is="panels.panel3" @change="optionChanged"> </component>
                                </keep-alive>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <button class="btn bg-success" type="button" @click="send_request" style="color: white;">Submit</button>
                </div>
                <div class="col-9">
                    <vue-plotly :data="example_data" :layout="plot.layout" :options="plot.options"></vue-plotly>
                    <p> Executed Query: </p>
                    <code> {% raw %} {{ plot.sql }} {% endraw %} </code>
                </div>
            </div>
            <div class="row" id="dpids">
                <p>Showing {% raw %}{{ cached_uuids.length }}{% endraw %} results.</p>
                <button class="btn btn-primary right" style="position:absolute; right: 0; margin-right: 40px;" @click="get_data_with_dpid"> Plot </button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-check"><input class="form-check-input" type="checkbox" v-model="select_all" id="select_all" /><label class="form-check-label" for="select_all"></label></div>
                            </th>
                            <th scope="col">#</th>
                            <th scope="col">UUID</th>
                            <th scope="col">DPID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="el,i in cached_uuids">
                            <th scope="row">
                                <div class="form-check"><input class="form-check-input" type="checkbox" :id="el" :value="el" v-model="uuids" /><label class="form-check-label" :for="el"></label></div>
                            </th>
                            <th>{% raw %}{{ ++i }}{% endraw %}</th>
                            <th>{% raw %}{{ el[0] }}{% endraw %}</th>
                            <th>{% raw %}{{ el[1] }}{% endraw %}</th>
                        </tr>
                    </tbody>
                </table>
                
            </div>

        </section>
    </div>



</div>

{% endblock %} {% block vue_components %}
<script src="{{ url_for('static', filename='js/vendor/lodash.js') }}"></script>
<script src="{{ url_for('static', filename='js/components/vue-plotly/vueplotly.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/geometry/Geometry.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/time/datepicker/datepicker.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/time/run/run.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/time/intlumi/il.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/filters/no_filter/no_filter.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/filters/standard/standard.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/filters/expert/expert.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/filters/advanced/advanced.umd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/statex.js')}}"></script>
<script src="{{ url_for('static', filename='js/controller.js')}}"></script>
{% endblock %}